/* Común */

.flex-column {
  display: flex;
  flex-direction: column;
}

.data-box {
  max-width: 100%;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.gap-1 {
  gap: 1rem;
}

.gap-1-5 {
  gap: 1.5rem;
}

.margin-bt-6 {
  margin-bottom: 6rem;
}

.margin-bt-2 {
  margin-bottom: 2rem;
}

.font-bold {
  font-weight: bold;
}

.text-align-center {
  text-align: center;
}

.background-3 {
  background-color: var(--blue3);
}

.bordered {
  border: 2px solid var(--blue3);
}

.m-0-p-0 {
  margin: 0;
  padding: 0;
}

.no-points {
  list-style-type: none;
}

.centered {
  justify-content: center;
  align-items: center;
}

.frame {
  width: 100%;
  height: 50rem;
}

.full-width-button {
  width: 100%;
}

.fake_button {
  background-color: var(--blue0);
  color: var(--white);
  font-size: 2.2rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  text-align:center;
  line-height:1.5;
  display:inline-block;
  text-decoration: none;
  transition:background-color 0.2s ease;
  font-weight: bold;
  border-radius: 1rem;
  border: 2px solid var(--black);
  cursor: pointer;
}

.fake_button:hover {
  background-color: var(--blue5);
  color: var(--black);
  font-weight: bold;
  border: 2px solid var(--blue3);
}

/* Zona alert */

.alert {
  background-color: var(--black);
  color: var(--white);
  font-weight: bold;
  font-size: 20px;
}

/* Media Queries */

@media (min-width: 1280px) {
  .gridded {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}

@media (min-width: 1920px) {
  .gridded {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}
