:root {
  --blue0: #01275B;
  --blue1: #0067C2;
  --blue2: #1D95FF;
  --blue3: #4AAAFF;
  --blue4: #78BFFF;
  --blue5: #A5D5FF;
  --white: #ffffff;
  --gray: #9F9F9F;
  --black: #1E1E1E;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1 0 auto;
  padding: 2rem 8rem;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  flex-shrink: 0;
  width: 100%;
}

h1 {
  text-align: center;
}

label {
  font-size: 2rem;
  font-weight: bold;
}

button {
  background-color: var(--blue0);
  color: var(--white);
  font-size: 2.2rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  text-align:center;
  line-height:1.5;
  display:inline-block;
  text-decoration: none;
  transition:background-color 0.2s ease;
  font-weight: bold;
  border-radius: 1rem;
  border: 2px solid var(--black);
}

button:hover {
  background-color: var(--blue5);
  color: var(--black);
  font-weight: bold;
  border: 2px solid var(--blue3);
}

@media (min-width: 768px) {
  main {
    max-width: 80%;
    margin: 0 auto;
  }
}
